<div class="container" style="margin-top: 70px; text-align: center;">
  <h2>NEW EMPLOYEE</h2>

  <form id="form-employees" method="POST">
    <div>
      <label for="refence">IDENTITY</label><br>
      <input type="number" name="identity" value="">
    </div>
    <div>
      <label for="name">NAME</label><br>
      <input type="text" name="name" value="">
    </div>
    <div>
      <label for="model">DEPARTMENT</label><br>
      <input type="text" name="department" value="">
    </div>
    <div>
      <label for="number">EQUIPEMTS-ID</label><br>
      <input type="number" name="equipmentsId" value="">
    </div>
    <button>AÑADIR</button>
  </form>
</div>