body {
  margin: 0px;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

#menu {
  background-color: #a7a9be; }

a {
  color: black;
  text-decoration: none !important; }

#form {
  margin: 30px auto;
  width: 380px; }

#form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%; }

#form input,
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px; }

#form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%; }

#form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: 0.3s ease background; }

.error-message {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%; }

.add_new {
  flex-direction: row;
  background-color: #ff8906;
  color: white;
  padding: 0.8em;
  border-radius: 10px;
  text-align: center;
  font-weight: 800;
  font-size: 1.5em;
  text-decoration: none !important; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  width: 110vw; }

td a {
  display: block; }

.tableFixHead {
  background-color: #a7a9be;
  overflow-y: auto;
  height: 500px; }

.tableFixHead thead th {
  position: sticky;
  top: 0; }

/* Just common table stuff. Really. */
table {
  border-collapse: collapse;
  width: 100%; }

th,
td {
  padding: 8px 16px; }

th {
  background: #eee; }

/* Page Show Employee*/
/* Card of employee */
#container-show-employee {
  border: 4px solid #343a40;
  background: #f1f1f1;
  padding: 1em;
  width: 75%;
  margin: 0 auto; }

#container-show-employee h2 {
  background: #343a40;
  color: white;
  padding: 0.4em;
  font-weight: 800;
  font-family: "Odibee Sans";
  font-size: 3em;
  letter-spacing: 0.15em;
  display: flex;
  justify-content: space-between; }

.box-elements p {
  border-bottom: 3px solid #343a40;
  padding: 1em 0.5em;
  font-family: "Oxanium";
  font-size: 1.5em;
  font-weight: 800; }

.box-elements ul {
  font-family: "Oxanium";
  font-size: 1.4em;
  list-style-type: none; }

#button-cruds {
  display: flex;
  justify-content: space-around; }

.button-edit,
.button-assign {
  padding: 1.3em 3em;
  border-radius: 20px;
  font-family: "Oxanium";
  font-weight: 800;
  font-size: 1.5em;
  color: white; }

.button-edit {
  background: #ff8906; }

.button-assign {
  background: #f25f4c; }

.button-edit:hover {
  background: linear-gradient(93deg, #ff8906, #000000);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 6s ease infinite;
  -moz-animation: AnimationName 6s ease infinite;
  animation: AnimationName 6s ease infinite; }

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.button-assign:hover {
  background: linear-gradient(93deg, #f25f4c, #000000);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 6s ease infinite;
  -moz-animation: AnimationName 6s ease infinite;
  animation: AnimationName 6s ease infinite; }

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

/* Page EDIT Styles  */
.box-elements input {
  width: 100%;
  padding: 0.8em 2em;
  border-radius: 5px;
  font-family: "Oxanium";
  font-size: 1.2em; }

/* Page ASSIGN Styles*/
/* Tables */
#magna-assign {
  display: flex;
  justify-content: space-between; }

#assign-container-axios {
  width: 45%;
  height: 85vh;
  border: 4px solid #343a40; }

#assign-container-axios h2 {
  background: #343a40;
  color: white;
  padding: 0.4em;
  font-weight: 800;
  font-family: "Odibee Sans";
  font-size: 3em;
  letter-spacing: 0.15em;
  display: flex;
  justify-content: space-between; }

#assign-container-axios ul li {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0.5em 0;
  font-family: "Oxanium";
  font-size: 1.5em;
  color: black;
  border-bottom: 3px solid #343a40; }

.stock-number {
  display: block; }

.hide {
  display: none; }

#remove-idem {
  background: red;
  margin-bottom: 0.2em;
  color: white;
  font-size: 0.8em;
  font-weight: 800; }

#assign-item {
  background-color: green;
  margin-bottom: 0.2em;
  color: white;
  font-size: 0.8em;
  font-weight: 800; }

/* LOGIN AND SIGNUP FORMS */
#form.form-plus {
  width: 40%;
  box-shadow: 0px 0px 16px 5px #c1c1c1;
  padding: 5em;
  border-radius: 20px; }

#form h2 {
  font-family: "Odibee Sans";
  font-size: 3em;
  letter-spacing: 0.15em; }

#form label {
  font-family: "Odibee Sans";
  font-size: 1.5em; }

/* Images */
.icon-show {
  width: 1.2em; }

/* button edit/remove*/
.edit-btt {
  padding: 0.2em;
  background: #3dc53d;
  font-weight: 800;
  border: 2px solid white;
  text-align: center;
  border-radius: 7px; }

.remove-btt {
  padding: 0.2em;
  background: #e63f3e;
  font-weight: 800;
  border: 2px solid white;
  text-align: center;
  border-radius: 7px; }

/*  BACKGROUND  */

/*# sourceMappingURL=style.css.map */