<h2>ASIGNAR ITEM A {{employee.name}}</h2>
<div id="assign-container">
    <div class="current-equipments">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>CURRENT EQUIPMENT</th>
                </tr>
            </thead>
            <tbody>
                {{#each employee.equipmentsId}}
                <tr>
                    <td>{{ this}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="current-equipments">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>AVAIBLE EQUIPMETS</th>
                </tr>
            </thead>
            <tbody>
                {{#each equipment}}
                <tr>
                    <td>{{this.reference}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>

    </div>
</div>